body {


    margin: 0;

    background-color: #0b1220;

    color: #e6e6e6;

    font-family: 'VT323', monospace;

}




/* Header */

.navbar {

    width: 100%;

    background-color: #27ff79;

@@ -16,6 +17,9 @@ body {

    display: flex;

    justify-content: space-between;

    align-items: center;




}



.navbar-right a {

@@ -24,16 +28,26 @@ body {

    text-decoration: none;

}




/* Hero layout */





.hero {

    display: flex;


    justify-content: space-between;

    align-items: center;


    padding: 80px;






}



.hero-title {


    font-size: 70px;

    color: white;

    margin-bottom: 20px;

    line-height: 1.1;

@@ -44,8 +58,8 @@ body {

}



.hero-text {


    font-size: 22px;


    max-width: 550px;

}



.btn {

@@ -54,8 +68,10 @@ body {

    border-radius: 8px;

    color: #27ff79;

    text-decoration: none;


    font-size: 22px;

    margin-right: 15px;



}



.btn:hover {

@@ -65,29 +81,77 @@ body {



/* Globe container */

.globe-container {


    width: 500px;


    height: 500px;



}




/* Projects section */

.section {


    padding: 40px 80px;

}



h2 {

    color: white;


    font-size: 45px;


}




.card {

    border: 1px solid #27ff79;

    border-radius: 12px;

    padding: 20px;

    margin-bottom: 20px;


    font-size: 22px;

}



.card-title {

    color: #27ff79;


    font-size: 28px;

     margin-bottom: 10px;



}





/* Responsive adjustments */


@media screen and (max-width: 900px) {


    .hero {


        flex-direction: column;


        align-items: flex-start;


    }


    


    .globe-container {


        width: 300px;


        height: 300px;


        margin-top: 30px;


    }





    .hero-title {


        font-size: 50px;


    }


    


    .hero-text {


        font-size: 18px;


    }


}





@media screen and (max-width: 500px) {


    .hero-title {


        font-size: 40px;


    }





    .hero-text {


        font-size: 16px;


    }





    .btn {


        font-size: 18px;


        padding: 10px 20px;


    }





    .globe-container {


        width: 250px;


        height: 250px;


        margin-top: 20px;


    }
